.nav-bar {
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   .menu {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .item {
         padding: 10px;
         &:not(:first-child) {
            margin-left: 30px;
         }
         .action {
            font-family: $font-primary;
            font-size: 1.6rem;
            font-weight: normal;
            color: $color-primary-dark;
            text-decoration: none;
            background-color: rgba($color-fourth, 0);
            border-radius: 5px;
            transition: all 300ms linear;
            cursor: pointer;
            &.-active {
               font-weight: bold;
               background-color: rgba($color-fourth, 1);
               transition: all 300ms linear;
            }
   
            @include mq(md) {
               width: 100%;
               height: 100%;
               padding: 10px;
               &:hover {
                  background-color: rgba($color-fourth, 1);
                  transition: all 300ms linear;
               }
   
            }
         }

         @include mq(md) {
            &:not(:first-child) {
               margin-left: 0;
            }
         }

      }

   }

   @include mq(sm) {
      justify-content: flex-start;
      padding-left: 100px;
   }

}