$color-primary-dark: #111111; // quase preto
$color-primary-clear: #FFFFFF; // branco
$color-secondy-dark: #000000; // preto
$color-secondy-medium: #777777; // cinza médio
$color-secondy-clear: #EEEEEE; // cinza clarinho
$color-third-dark: #444444; // cinza escuro
$color-third-medium: #999999; // cinza médio
$color-fourth: #FBDFDB; // salmão claro